 /*-----------------main-menu-------------*/
 body
{
    width: 100%;
    background:#ffffff; 
    color: #121010;
}

html
{
    display: flex;
}

@media all and ( max-width: 1024px)
{ 
.container
{ 
     flex-direction: column;
} 

aside
{
      width: 100% !important;
}

.joinMe
 {
    padding: 2%;
    margin-bottom: 10%;
    margin-top: 10%;
}
}


.container
{
    width: 100%;
    margin: auto;
    display: flex;

}

.name
{
    margin-top: 3%;
    align-items: flex-end;
    justify-content: space-between;
}

.employment p
{
    font-size:140%;
    margin-top: 0%;
}

.job ,h3
{
    margin-left: 1.5%; 
    margin-top:2.25%;  
}

span.prenom
{
    color:yellow;
    text-transform:uppercase;
    font-size: 180%;
}

.nom
{
    font-size: 180%;
}


.years
{
    float:left;
    margin-right: 4%;  
    width:7%;
    margin-top: 2%;
}

.narrative
{
    text-align: justify;
}


.business 
{
    margin-left: 0.25%;
    border-bottom: 2% solid yellow;
    margin-top: 2.15%;
    margin-bottom: 2.15%;
}

p.job
{
    margin-left: 14%;
    margin-top: 1%;
}


.rubrique
{
    border-bottom: 2px solid yellow; 
}

article
{
    margin-top: 4.35%;
}

p.narrative
{
    margin-left:17%;
    margin-left: 14%;
}

.NegociationRelationClient
{
    margin-top: 14.5%;
}


section 
{
    flex-direction: column;
}

/*-----------------right icons-------------*/
.icons
{
    color: yellow;
}

div
{
    display: block;
}

.main
{
    width: 100%;
    margin-left: 2%;
}


/*------------------aside-----------------*/
.sidebar
{
    height:100%
}

aside 
{
    background-color:yellow;
    width:20%;
    color: black;
    float: left;
}

.blocPhoto img
{
    display: block;
    border-radius: 50%;
    margin-left: 22%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.bandeauGris 
{
    background-color: grey;
    width: 100%;
    color: yellow;
    text-align: center;
}

h2
{
    text-transform: uppercase;
}

.uppercase h2
{
    text-align: center;
    font-size: 6%;
    margin-bottom: 6%;
    text-transform:uppercase;
}

.news
{
    margin-bottom:7%;
}

.joinMe 
{
    padding: 2%;
    margin-bottom: 10%;
    margin-top: 10%;
    
}

.information
{
    padding: 2%;
    margin-bottom: 140%;
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
}

.main h2
{
    text-transform: uppercase;
    margin-top: 3%;
    margin-bottom: 0.50%;
    margin-top: 4%;
}
 
li 
{
    margin-top:1%;
}

/*-----------------polices---------------*/
.bold
{
    font-weight: 700;
    font-size: 2%;
    text-transform: uppercase;
}

.semi_bold
{
    font-weight: 500;
    font-size: 1.5%;
}

p 
{
    font: size 2%;
    text-align: justify; 
}


/*----------------bullets----------------*/
.bullet
{
    float: left;
    width:3%;
    margin-top: 2%;
}

i.far
{
    font-size:100%;
    color: yellow;
}

.fa-dot-circle:before 
{
    content: "\f192";
    
}

.fa-graduation-cap:before
{
    font-size: 100%;
}

i.fas 
{
    font-size: 200%;
    color: yellow;
}

.fa-graduation-cap:before 
{
    content: "\f19d";
    margin-right: 3%;
}

.fa-briefcase:before 
{
    content: "\f0b1";
    margin-right: 3%;
}

.fa-pen-alt:before
{
    content: "\f305";
    margin-right: 3%;
}

.fa-biking-fa-wf:before
{
    content: "\f84a";
    margin-left: 50%;
    color: black;
    border-radius: 50%;
    color: black;
    border: 2px solid black;
    float: left;
    width: 41px;
    height: 41px;
    margin-left: 53px;
}

.fa-swimmer-fa-wf:before
{
    content: "\f5c4";
    margin-left: 135%;
    color: black;
    border-radius: 50%;
    border: 2px solid black;
    float: left;
    width: 41px;
    height: 41px;
    margin-left: 25px;
}

.fa-table-tennis-fa-wf:before
{
    content: "\f45d";
    color: black;
    border-radius: 50%;
    border: 2px solid black;
    float: left;
    margin-left: 25px;
    width: 41px;
    height: 41px;

}


.fa-circle:before
{
    content: "\f111";
    font-size: 25%;
    padding-left: 40%;
}

::before
{
    color: yellow;
}


 
/*-------------------footer--------------*/
.langues
{
        width:50%;
}


.listeCompetences
{
    width: 50%;
    float: left;
}

.level
{
    float: left;
    width:50%;
}


/*------------------footer icons---------*/
.fa-biking:before
{
    content: "\f84a";
    margin-left: 15%;
}

.fa-swimmer:before
{
    content: "\f5c4";
    margin-left: 15%;
}

.fa-table-tennis:before
{
    content: "\f45d";
    margin-left: 15%;
}

ul
{
    list-style-type: none;
}

li
{
    margin-bottom:1%;
}

.espace
{
    margin-bottom:5%;
}









